html, body, ul{
    margin-bottom:0;
    margin-top:0;
    margin-left:0;
    margin-right:0;
    padding-left: 0;
    padding-right: 0;
}
li{
    list-style: none;
    
}


.sub-header {
    display: flex;
    margin-left: 35%;
    width: 30%;

}

.sub-header .item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

header {
    display: flex;
    background-color: rgba(237, 237, 237, 0.8);
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
}

header .title{
    font-size: 20px;
    font-weight: bold;
}

header .menu {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    align-items: center;
}

header .menu .menu {
    display: flex;
    position: absolute;
    display: none;
    align-items: flex-start;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    height: 200px;
    top: 55px;
    left: 0;
    padding: 24px 15.4% 32px;
    visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
} 

header .menu .menu>li {
    padding: 0 20px;
}

header .menu .menu-item
{
    cursor: pointer;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

header .menu .menu-item:hover>.menu {
    display: flex;
    padding-top: 20px;
    visibility: visible;
opacity: 1;   
}
header .menu .menu-item:hover>.menu li {
    text-align: left;
}

header .menu .menu .menu-item>a{
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
   
}

header .menu .menu-sub {
    display: flex;
    flex-direction: column;
}


.slide{
    transform: translateY(-56px);
}
/*footer*/
footer {
    margin-top: 60px;
    width: 100%;
    background-color: #303030;
    color: white;
    padding: 30px 0;
}


  .new-item img {   
    width: 100%;
  }
  .new-item .description {
    margin-top: 20px;
    font-size: 18px;
  }
  .new-item .try-now
  {
    background: #778B37;
    color: #fff;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 6px 0;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
  }

  .content-wrapper{
    margin-top: 20px;
    background-color: antiquewhite;
    
  }
  .content-wrapper .row{
    padding-right: 30px;
  }
 

  .col-md-4 img {
    width:70%;
     height:200px;
    border: 1px solid #ccc; 
    border-radius: 10px; 

  }
  
   
    